body{
	font-family: 'roboto';
    color: #000;
    background:  #6a6d75;
}
 
.judul{
	
	background: #45e606;
	padding: 10px;
	text-align: center;
 
}
 
.judul h1,h2,h3{
    padding: 10px;
	height: 15px;
}

a{
	
	padding: 5px;
	text-decoration: none;	
}
 
 
.table{
	border-collapse: collapse;
}
 
table.table th th , table.table tr td{
	padding: 10px 20px	;
}
a:link, a:visited {
	background-color: #f44336;
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
  }
  
  a:hover, a:active {
	background-color: rgb(208, 255, 0);
  }
